{% extends "base.html" %}
{% load widget_tweaks %}



{% block content %}
<h1 class="text-center">User and Company Details</h1>
<div class="col-md-offset-3 col-md-6">
  <form class="form-login custom-form-login" method="post" action="/web/search_company/">
    {% csrf_token %}
    <div class="inner-addon left-addon">
      <input id="search_text" name="search_text" type="text" class="form-control" />
    </div>
  </form>
  <br><br>
  {%if search_result%}
  {% for result in search_result%}
  <a href="{{ result.company_url }}">{{ result.company_name }}</a><br>
  {% endfor%}
  {% endif %}
</div>
{% endblock %}
