<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oil and Gas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/js.cookie.js"></script>
</head>
<body>
{% block content %}
<input type="text" name="search" id="company_selector" />

{% block custom_script %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.1/bootstrap3-typeahead.min.js"></script>

<script>
        $(document).ready(function () {
            $("#company_selector").keypress(function () {
                var value_l = $("#company_selector").val();
                if (value_l.length >= 1) {
                    $.get("/web/search_company2", function (data) {
                        var $input = $('#company_selector');
                        $input.typeahead({
                            source: data, autoSelect: false, displayText: function (item) {
                                return item;
                            }, afterSelect: function (current) {



                                dataType : 'html',
                                $("#dummyform").hide();
                                $("#submit_form").hide();
                                $(document).ready(function(){
                                    $("#addQualification").click(function() {
                                        $("#dummyform").append(
                                            '<label for="id_qualification_type" >Select Qualification Type:</label>'+
                                            '<select class ="form-control" id="id_qualification_type" name="qualification_type">'+
                                            '<option value="10">10th</option>'+
                                            '<option value="12">12th</option>'+
                                            '<option value="DP">Diploma</option>'+
                                            '<option value="G">Graduation</option>'+
                                            '<option value="PG">Post Graduation</option>'+
                                            '<option value="D">Doctorate</option>'+
                                            '</select>'+
                                            '<br><label value="university" for="id_university" >University/Board:</label>'+
                                            '{{ form.university|attr:"required:true"|attr:"autocomplete:off"|attr:"class:form-control" }}'+
                                            '<hr>'

                                            
                                        }
                                    });
                                    }, 'json');
                                }
                            });
                            });
</script>

{% endblock %}
{% endblock content %}
</body>
</html>













